---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-apps-shieldx-local-v1-replicamaster
  failurePolicy: Fail
  name: mreplicamaster-v1.kb.io
  rules:
  - apiGroups:
    - apps.shieldx.local
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - replicamasters
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-shieldx-local-v1-replicamaster
  failurePolicy: Fail
  name: vreplicamaster-v1.kb.io
  rules:
  - apiGroups:
    - apps.shieldx.local
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - replicamasters
  sideEffects: None
